# Linear Regression Multiple Variables

# 1]. Data Processing/Clean: handling missing values

# Dependent variable = m1*age + m2*exprience + m3*Income + b

In [2]:
import pandas as pd

from sklearn import linear_model

In [3]:
df = pd.read_csv("multiple_linear_regression_dataset[1].csv")

In [4]:
df

    age  experience  income
0    25           1   30450
1    30           3   35670
2    47           2   31580
3    32           5   40130
4    43          10   47830
5    51           7   41630
6    28           5   41340
7    33           4   37650
8    37           5   40250
9    39           8   45150
10   29           1   27840
11   47           9   46110
12   54           5   36720
13   51           4   34800
14   44          12   51300
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [5]:
df.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

# Dependent Variable = age , experience & income are independent variable(features) m1 , m2 , & m3 are coefficient and b is intercept

In [6]:
df.experience.median()

5.0

In [7]:
# to create an object
model = linear_model.LinearRegression()

# we use model.fit to work a dataset i.e train (for ex.model = any-variable which use instead of model.replace model)

In [8]:
# to train model
model.fit(df[['age','experience','income']],df)

LinearRegression()

In [9]:
#Calculating coefficent m1 , m2 , m3
model.coef_

array([[ 1.00000000e+00, -2.04390152e-16, -1.64735920e-15],
       [-9.75959507e-15,  1.00000000e+00, -2.74413027e-16],
       [-1.19123794e-13,  1.03082841e-12,  1.00000000e+00]])

In [35]:
 1.00000000e+00 + -2.04390152e-16 + -1.64735920e-15

0.9999999999999981

In [36]:
-9.75959507e-15 + 1.00000000e+00 + -2.74413027e-16

0.99999999999999

In [37]:
-1.19123794e-13 + 1.03082841e-12 + 1.00000000e+00

1.0000000000009117

# 0.9999999999999981(m1) , 0.99999999999999(m2) ,  1.0000000000009117(m3)

# This is the sum value of 3 coefficent (m1 , m2 , ,m3)

In [10]:
#Calculating intercept (b)
model.intercept_

array([6.70965505e-11, 1.14388499e-11, 0.00000000e+00])

In [16]:
6.70965505e-11 + 1.14388499e-11 + 0.00000000e+00/3

7.85354004e-11

# 7.85354004e-11 This is the average value of intercept

In [33]:
#now we can predict 
model.predict([[90,25,50450]])

C:\Users\ADIL SHAIKH\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[9.000e+01, 2.500e+01, 5.045e+04]])

In [34]:
9.000e+01 + 2.500e+01 + 5.045e+04

50565.0

# HOW TO CALCULATE THE PREDICTED VALUE

multiply your m1,m2,m3 with category /Entity ex.90-age , 25-Experience , 50450-Salary the Add (+) intercept Value

In [38]:
0.9999999999999981*90 + 0.99999999999999*25 + 1.0000000000009117*50450 + 7.85354004e-11

50565.00000004608

# Hence we conclude our topic on predicting a category / Entity